* {
}

body {
}

.maintitle {
  text-align: center;
}

#visParent {
  border: 2px dashed white;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#visualizer {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  touch-action: none;
  /* touch-action: pan-x pan-y; */
  box-sizing: border-box;
}

.addDevice {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  width: 3rem;
  height: 3rem;
  line-height: 2.5rem;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 4px 3px 0px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;

  color: #8ecae6;
  border: 5px solid #8ecae6;
  background-color: #219ebc;

  user-select: none;
  cursor: pointer;

  transition: color 0.3s, border 0.3s, background-color 0.3s;
}

.addDevice:hover {
  color: #e8ddb5;
  border: 5px solid #e8ddb5;
  background-color: #8ecae6;
}

.modalbg {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.modal {
  /* width: 400px; */
  /* min-width: max-content; */
  max-width: 85%;
  min-height: 300px;
  max-height: 60vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);

  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 20vh;

  padding: 10px 15px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.modalHeader {
  width: fit-content;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.modalCloseBtn {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 50px;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;

  user-select: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;

  background-color: #e84855;
  color: white;

  box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
  transition: background-color 0.3s, top 0.3s, box-shadow 0.3s;
}

.modalCloseBtn:hover {
  background-color: #ee6c4d;
  /* top: 4px;
  box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.75); */
}

.modalDevices {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.devicePreview {
  display: inline-block;
  width: 200px;
  min-height: 280px;
  background-color: rgba(142, 202, 230, 0.1);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;

  transition: background-color 0.3s;
}

.devicePreview:hover {
  background-color: rgba(142, 202, 230, 0.6);
}

.previewCanvas {
  background-color: #003049;
  /* border-radius: inherit; */
  width: 200px;
  height: 200px;
}

.devicePreview span {
  color: inherit;
  transition: color 0.3s;
}

.devicePreview:hover span {
  color: white;
}

.devicePreview .deviceAddBtn {
  border-radius: 5px;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  user-select: none;
  cursor: pointer;

  color: white;
  background-color: #219ebc;
  transition: background-color 0.3s;
}

.devicePreview .deviceAddBtn:hover {
  background-color: #219ebc80;
}

.invisible {
  visibility: hidden;
  /* display: none; */
}

.deviceContainer {
  width: fit-content;
  background-color: #e8ddb520;
  border-radius: 5px;
  text-align: center;
  /* overflow: hidden; */
}

.deviceContainer p {
  margin: 0;
  cursor: pointer;
}

.deviceContainer p:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.deviceContainer .deviceNameInput {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  display: block;
  width: 110px;
  padding: 2px 1px;

  background-color: rgba(0, 0, 0, 0);

  font-size: 0.9rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.deviceContainer .deviceNameInput:focus {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(142, 202, 230, 0.1);
}

.deviceContainer canvas {
  width: 120px;
  height: 120px;
  /* background-color: #00000040; */
}

.draggable {
  color: white;
  max-width: fit-content;
  display: inline-block;
  border-radius: 5px;

  /* user-select: none; */
  /* touch-action: none; */
  cursor: move;

  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(0px, 0px);
}

.deviceContainer .delete-btn {
  background-color: #e84855;
  color: white;
  font-weight: bold;

  display: block;
  position: absolute;
  top: -12.5px;
  right: -12.5px;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 0.3s, top 0.3s, right 0.3s, padding 0.3s;
}

.deviceContainer .delete-btn:hover {
  background-color: #ee6c4d;
  top: -13px;
  right: -14px;
  padding: 1px;
}

.deviceContainer.raspAdded {
  border: 5px dotted lightcoral;
  margin-left: -5px;
  margin-top: -5px;
  cursor: pointer !important;
}

.deviceContainer.raspNotAdded {
  border: 5px dotted lightblue;
  margin-left: -5px;
  margin-top: -5px;
  cursor: pointer !important;
}

.deviceContainer.raspAdded:hover {
  border: 5px dotted darkRed;
}

.deviceContainer.raspNotAdded:hover {
  border: 5px dotted gold;
}

.deviceContainer .connectDevBtn {
  border-radius: 5px;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  user-select: none;
  cursor: pointer;

  color: white;
  background-color: #219ebc;
  transition: background-color 0.3s;
}

.deviceContainer .connectDevBtn:hover {
  background-color: #219ebc80;
}


.labelDiv {
  background-color: #219ebc;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;

  position: absolute;
  left: calc(100% - 2rem);
  top: calc(100% - 2rem);

  border-radius: 0.75rem;

  transform-origin: top left;
  animation: pop-in 0.3s;
}

.labelDiv .kvPairsContainer {
  font-family: "Consolas", Courier, monospace;
  font-size: 1rem;
  width: max-content;
  text-align: left;
  cursor: text;

  color: lightcyan;
}

.labelDiv.hiding {
  animation: pop-out 0.2s;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
.kvPairsContainer div {
  margin-bottom: 0.25rem;
}

.labelDiv .kvPairsContainer label {
  /* font-family: "Consolas", Courier, monospace; */
  color: lightcyan;
}

.labelDiv .kvPairsContainer div input,
.labelDiv .kvPairsContainer div textarea {
  font-family: "Consolas", Courier, monospace;
  font-size: 1rem;
  background-color: #219ebc;
  color: lightcyan;

  border: 1px solid #00304950;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.labelDiv .kvPairsContainer div input:focus,
.labelDiv .kvPairsContainer div textarea:focus {
  background-color: #4dbbd6;
}

.labelDiv .kvPairsContainer div input:disabled,
.labelDiv .kvPairsContainer div textarea:disabled {
  border: none;
}

.label-btn {
  width: 16px;
  height: 16px;
  font-size: 0.75rem;
  background-color: #219ebc;
  border-radius: 50%;
  cursor: pointer;
  /* font-weight: bold; */
  color: white;
  border: 2px solid white;
  user-select: none;

  position: absolute;
  left: 5px;
  bottom: 5px;

  transition: all 0.2s ease-in;
}

.label-btn:hover {
  background-color: #8ecae6;
}